.main-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  min-height: 700px;
}

.filter-container {
  flex: 1 0 20%;
  min-width: 250px;
  max-width: 250px;
  padding: 10px;
  margin-right: 20px;
}

.products-container {
  flex: 1;
  max-width: 76%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: -20px;
  margin-right: -20px;
}

.product-card {
  flex: 1 0 calc(33.33% - 20px);
  max-width: calc(33.33% - 20px);
  box-sizing: border-box;
}

@media screen and (max-width: 1100px) {
  .filter-container {
    flex: 1 0 30%;
    max-width: 30%;
    min-width: 250px;
    max-width: 250px;
  }

  .products-container {
    max-width: 70%;
  }

  .product-card {
    flex: 1 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}

@media screen and (max-width: 890px) {
  .filter-container {
    flex: 1 0 30%;
    max-width: 30%;
    min-width: 250px;
    max-width: 250px;
  }

  .products-container {
    max-width: 65%;
  }

  .product-card {
    flex: 0 1 65%;
    max-width: 65%;
  }
}

@media screen and (max-width: 576px) {
  .filter-container {
    flex: 1 0 100%;
    max-width: 60%;
    min-width: 250px;
    max-width: 250px;
  }

  .products-container {
    max-width: 100%;
  }

  .product-card {
    flex: 1 0 100%;
    max-width: 100%;
  }
}

.mat-card-image {
  object-fit: cover;
  width: 100%;
  height: 50%;
}

.clickable {
  cursor: pointer;
}

.clickable.price {
  color: cadetblue;
  font-weight: 500;
}

.inline-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inline-content-left {
  flex: 1;
}

.inline-content-right {
  margin-right: 8px;
}
